body{
	background-color: #1abc9c;
	padding-top: 20%;
	padding-bottom: 20%;
	text-align: center;
}

.bouton{
	background-color: black;
	color: white;
	padding: 16px 18px;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
} 

.bouton:hover{
	opacity: 1;
}

